@use "../base/colors.scss" as *;
@use "../base/mixins.scss" as *;

.testQuestion {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.btn {
    width: 200px;
    padding: 10px 20px;
    background-color: $primary-200;
    color: $accent-100;
    border-radius: 20px;
}

.btns {
    display: flex;
    gap: 10px;
}